*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.bundle/
vendor/bundle
.rspec_status
DEBUG_COVERAGE.txt
spec/fixtures/temp_test/
.idea/

.circleci/impact.json
junit/
